body{ 
    background-color: rgb(106, 106, 217);
}
.cabeçalho { 
    margin-bottom: 10px;
}
.cabeçalho{
    background-color:rgb(167, 103, 103);
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
}